<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1 class="show-for-small-only"><a href="{{ site.url }}{{ site.baseurl }}"> {{ site.title }}</a></h1>
    </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Navigation</span></a></li>
    </ul>
    <section class="top-bar-section">
{% comment %}

    ____  _       __    __     _   __            _             __  _
   / __ \(_)___ _/ /_  / /_   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
  / /_/ / / __ `/ __ \/ __/  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / _, _/ / /_/ / / / / /_   / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_/ |_/_/\__, /_/ /_/\__/  /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
        /____/                                 /____/

{% endcomment %}
      <ul class="right">
        {% for link in site.data.navigation %}

              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

          {% comment %}   If there are links for right side begin   {% endcomment %}
          {% if link.side == 'right' %}
            {% comment %}   If right side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li class="divider"></li>
              <li {% if link.url == page.url %} class="active"{% elsif page.url contains link.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}><a id="{{link.url}}" href="{{ domain }}{{ site.baseurl }}{% if page.is_default_language == false %}/{{ page.language }}{% elsif page.language == 'fr' %}/en{% endif %}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{% if page.language == 'en' %}{{ link.title-en | escape }}{% elsif page.language == 'kr' %}{{ link.title-kr | escape }}{% elsif page.language == 'cn' %}{{ link.title-cn | escape }}{% elsif page.language == 'fr' %}{{ link.title-en | escape }}{% endif %}</a></li>

            {% comment %}   If right side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="divider"></li>
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                <a id="/language/" href="{{ domain }}{{ site.baseurl }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{% if page.language == 'en' %}{{ link.title-en | escape }}{% elsif page.language == 'kr' %}{{ link.title-kr | escape }}{% elsif page.language == 'cn' %}{{ link.title-cn | escape }}{% elsif page.language == 'fr' %}{{ link.title-en | escape }}{% endif %}</a>

                  <ul class="dropdown">
                    {% for dropdown_link in link.dropdown %}

                      {% if dropdown_link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                      {% endif %}

                      <li><a href="#"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %} onclick="location.href={{ dropdown_link.url }};">{{ dropdown_link.title | escape }}</a></li>
                    {% endfor %}
                  </ul>

              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   First loop finished 1   {% endcomment %}
      </ul>
{% comment %}

    __         ______     _   __            _             __  _
   / /   ___  / __/ /_   / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
  / /   / _ \/ /_/ __/  /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
 / /___/  __/ __/ /_   / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
/_____/\___/_/  \__/  /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
                                          /____/

{% endcomment %}
      <ul class="left">
        {% for link in site.data.navigation %}

              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif link.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}

          {% comment %}   If there are links for left side begin   {% endcomment %}
          {% if link.side == 'left' %}

            {% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
            {% if link.dropdown == nil %}
              <li {% if page.url contains link.url and link.url != '/' %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}><a id="{{ link.url }}" href="{% if link.url == '/' %}#{% else %}{{ domain }}{{ site.baseurl }}{% if page.is_default_language == false %}/{{ page.language }}{% elsif page.language == 'fr' %}/en{% endif %}{{ link.url }}{% endif %}" onclick="getRoot(sessionStorage.getItem('lang'));"{% if link.url contains 'http' %} target="_blank"{% endif %}>{% if page.language == 'en' %}{{ link.title-en | escape }}{% elsif page.language == 'kr' %}{{ link.title-kr | escape }}{% elsif page.language == 'cn' %}{{ link.title-cn | escape }}{% elsif page.language == 'fr' %}{{ link.title-en | escape }}{% endif %}</a></li>
              <li class="divider"></li>

            {% comment %}   If left side WITH dropdown menu do   {% endcomment %}
            {% else %}

              <li class="has-dropdown{% if page.url contains link.url %} active{% endif %}">
                <a id="{{link.url}}" href="{{ domain }}{{ site.baseurl }}{% if page.is_default_language == false %}/{{ page.language }}{% elsif page.language == 'fr' %}/en{% endif %}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{% if page.language == 'en' %}{{ link.title-en | escape }}{% elsif page.language == 'kr' %}{{ link.title-kr | escape }}{% elsif page.language == 'cn' %}{{ link.title-cn | escape }}{% elsif page.language == 'fr' %}{{ link.title-en | escape }}{% endif %}</a>
                <ul class="dropdown">
                  <div class=""  style="overflow: auto; height: 400px;">
                    {% if link.url == '/smt-equipment/' %}
                      {% for dropdown_link in link.dropdown %}

                        {% if dropdown_link.url contains 'http' %}
                          {% assign domain = '' %}
                          {% else %}
                          {% assign domain = site.url %}
                        {% endif %}

                        <li><a href="{{ domain }}{{ site.baseurl }}{% if page.is_default_language == false %}/{{ page.language }}{% elsif page.language == 'fr' %}/en{% endif %}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
                      {% endfor %}
                    {% else %}
                      {% for dropdown_link in link.dropdown %}

                        {% if dropdown_link.url contains 'http' %}
                          {% assign domain = '' %}
                          {% else %}
                          {% assign domain = site.url %}
                        {% endif %}

                        <li><a href="{{ domain }}{{ site.baseurl }}{{ dropdown_link.url }}"{% if dropdown_link.url contains 'http' %} target="_blank"{% endif %}>{{ dropdown_link.title | escape }}</a></li>
                      {% endfor %}
                    {% endif %}
                  </div>
                </ul>
              </li>
              <li class="divider"></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% comment %}   Second loop finished   {% endcomment %}
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->

<script type="text/javascript">
window.onload = function () {
  if (window.sessionStorage) {
    switch ( sessionStorage.getItem('lang')) {
      case 'cn':  document.getElementById("/smt-equipment/").innerHTML = '库存设备';
                  document.getElementById("/brand-list/").innerHTML = '在做品牌';
                  document.getElementById("/package-sale/").innerHTML = '打包出售';
                  document.getElementById("/items-wanted/").innerHTML = '求购设备';
                  document.getElementById("/language/").innerHTML = '语言';
                  document.getElementById("/contact/").innerHTML = '联系方式';
                  // location.href='/cn/';
        break;
      case 'kr': document.getElementById("/smt-equipment/").innerHTML = '유휴 장비';
                  document.getElementById("/brand-list/").innerHTML = '취급 브랜드';
                  document.getElementById("/package-sale/").innerHTML = '패키지 세일';
                  document.getElementById("/items-wanted/").innerHTML = '매입설비';
                  document.getElementById("/language/").innerHTML = '언어';
                  document.getElementById("/contact/").innerHTML = '연락처';
                  // location.href='/kr/';
        break;
      case 'en': document.getElementById("/smt-equipment/").innerHTML = 'Stock List';
                  document.getElementById("/brand-list/").innerHTML = 'Brands List';
                  document.getElementById("/package-sale/").innerHTML = 'Package Sale';
                  document.getElementById("/items-wanted/").innerHTML = 'Items Wanted';
                  document.getElementById("/language/").innerHTML = 'Language';
                  document.getElementById("/contact/").innerHTML = 'Contact';
                  // location.href='/en/';
        break;
      default:
        break;
    }
  }
}

function getRoot(lang) {
  switch (lang) {
    case 'cn': location.href = '/cn/';
      break;
    case 'kr': location.href = '/kr/';
      break;
    case 'en': location.href = '/en/';
      break;
    default: location.href = '/';
  }
}

</script>
